.sidebar{
    height: 100vh;
    padding: 10px 0 100px 0;
    box-shadow: 5px 0px 10px 0px rgb(0 0 0 / 15%);
    overflow-x: hidden;
    overflow-y: scroll;
}
.dashboardContainer.light .sidebar{
    background: #fff;
}
.dashboardContainer.dark .sidebar{
    background: #414141;
}
.sidebar .nav .nav-item .nav-link{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
}
.dashboardContainer.light .sidebar .nav .nav-item .nav-link{
    color: #000;
}
.dashboardContainer.dark .sidebar .nav .nav-item .nav-link{
    color: #fff;
}
.dashboardContainer.light .sidebar .nav .nav-item .nav-link.active{
    color: #fff;
}
.dashboardContainer.dark .sidebar .nav .nav-item .nav-link.active{
    color: #fff;
}
.sidebar .nav .nav-item .nav-link svg{
    margin: 5px;
}
.dashboardContainer.light .sidebar .nav .nav-item .nav-link.dropdown-toggle.active{
    background: transparent;
    color: #000;
}
.dashboardContainer.dark .sidebar .nav .nav-item .nav-link.dropdown-toggle.active{
    background: transparent;
    color: #fff;
}
.sidebar .nav .dropdown-item.active, 
.sidebar .nav .dropdown-item:active {
    background-color: #0d6efd;
    color: #fff;
}
.sidebar .nav .nav-item .nav-link.active{
    background-color: #0d6efd;
    color: #fff;
}
.sidebar .dropdown-item {
    padding: 0.5rem 2.6rem;
}
.dashboardContainer.light .sidebar .dropdown-item{
    color: #000000;
    background-color: #e9ecef;
}
.dashboardContainer.dark .sidebar .dropdown-item{
    color: #fff;
    background-color: #222;
}
.dashboardContainer.light .sidebar .dropdown-item.active{
    background-color: #0d6efd;
    color: #fff;
}
.dashboardContainer.dark .sidebar .dropdown-item.active{
    color: #fff;
    background-color: #0d6efd;
}
.sidebar .dropdown-menu {
    position: initial;
    padding: 0;
}
.sidebar .nav-link.dropdown-toggle{
    cursor: pointer;
}
.sidebar .dropdown-menu.show {
    width: 100%;
    border: 0;
    border-radius: 0;
}
.dashboardContainer.light .sidebar .dropdown-menu.show{
    background: aliceblue;
}
.dashboardContainer.dark .sidebar .dropdown-menu.show{
    background: #333;
}
@media screen and (max-width:768px){
    .sidebar {
        height: auto;
        padding: 10px 0 10px 0;
        margin-top: 15px;
    }
}

